extends layout
block content
	script(type='text/javascript', src='/javascripts/ajax_handlers.js')
	script(type='text/javascript', src='/javascripts/d3.min.js')
	h1(id="title")=title
	img(id="image" src=image_link)

	<!-- Main Content -->
	div(id="content-wrapper")

		div(class="alert-sending-message")="sending..."
		div(class="alert alert-success", role="alert")="The message has been sent successfully!"
		
		<!-- Display the message from the device -->
		div(class="result-group")
			h2="Message from the device:"
			p(id="text_data", class="well")
		
		<!-- Command input form control panel -->
		div(class="form-panel")
			div(class="input-group command-group input-group-1")
				label(for="command") #{command_label}
				input(id="command", type="text", name="command")
			div(class="input-group input-group-2")
				button(class='form-button btn btn-primary', type='button')="Read"
				button(class='form-button btn btn-primary', type='button')="Write"
				button(class='form-button btn btn-primary', type='button')="Do"
			div(class="input-group input-group-3")
				button(class='form-button btn btn-primary', type='button')="Get"
				input(class="form-command", placeholder ="Type a pin number here", id="getPinNumber", type="text", name="getPinNumber")
			div(class="input-group input-group-4")
				button(class='form-button btn btn-primary', type='button')="Put"
				input(class="form-command", placeholder ="Type a pin number here", id="putPinNumber", type="text", name="putPinNumber")
				input(class="form-command", placeholder ="Type a pin value here", id="putPinValue", type="text", name="putPinValue")
			div(class="input-group input-group-5")
				button(class='form-button btn btn-primary', type='button')="If"
				input(class="form-command", placeholder ="Type a pin number here", id="conditionalInput", type="text", name="conditionalInput")
			div(class="input-group input-group-6")
				button(class='form-button btn btn-primary', type='button')="Sleep"
				input(class="form-command", placeholder ="Type a number here", id="command", type="text", name="")
		
		button(id='submit_button', type="button", class="btn btn-success")="Send"
		
		div(class='graphing')
			div(id='graphing_data')